<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FallingBlocksCEP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FallingBlocksCEP.Properties.Settings>
            <setting name="ColorI" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ColorT" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="ColorO" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ColorS" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="ColorJ" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorL" serializeAs="String">
                <value>255, 192, 128</value>
            </setting>
            <setting name="ColorZ" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="DrawLinesAndLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <!-- labels each piece with its number -->
            <setting name="LabelPieces" serializeAs="String">
                <value>False</value>
            </setting>
          <!-- background colors for game surface, or "well" -->
            <setting name="ColorBackground1" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ColorBackground2" serializeAs="String">
               <value>230, 230, 230</value>
            </setting>
            <setting name="DebugMap" serializeAs="String">
                <value>False</value>
            </setting>
          <!-- pause for each piece when "dropping" a cleared row -->
            <setting name="DramaticPauseMS" serializeAs="String">
                <value>150</value>
            </setting>
          <!--  piece location -->
            <setting name="DebugPieceLocation" serializeAs="String">
                <value>False</value>
            </setting>
        </FallingBlocksCEP.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
